In [2]:
import pandas as pd

fname = 'FAO.csv'
df = pd.read_csv(f'./dataset/{fname}', encoding='latin-1')

In [12]:
df.columns

Index(['Area Abbreviation', 'Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'latitude', 'longitude', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')

In [14]:
df

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21472,ZWE,181,Zimbabwe,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,...,373.0,357.0,359.0,356.0,341.0,385.0,418.0,457.0,426,451
21473,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5521,Feed,1000 tonnes,-19.02,29.15,...,5.0,4.0,9.0,6.0,9.0,5.0,15.0,15.0,15,15
21474,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5142,Food,1000 tonnes,-19.02,29.15,...,18.0,14.0,17.0,14.0,15.0,18.0,29.0,40.0,40,40
21475,ZWE,181,Zimbabwe,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
21476,ZWE,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [19]:
df[df['Area'] == 'Ireland']

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
83,ALB,3,Albania,2511,Wheat and products,5521,Feed,1000 tonnes,41.15,20.17,...,28.0,28.0,30.0,28.0,28.0,30.0,26.0,25.0,20,18
84,ALB,3,Albania,2511,Wheat and products,5142,Food,1000 tonnes,41.15,20.17,...,449.0,468.0,422.0,425.0,435.0,415.0,432.0,439.0,440,440
206,DZA,4,Algeria,2511,Wheat and products,5521,Feed,1000 tonnes,28.03,1.66,...,175.0,175.0,175.0,175.0,200.0,200.0,280.0,450.0,635,545
207,DZA,4,Algeria,2511,Wheat and products,5142,Food,1000 tonnes,28.03,1.66,...,6369.0,6447.0,6195.0,6208.0,6555.0,6879.0,6685.0,6983.0,7179,7270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21008,VNM,237,Viet Nam,2511,Wheat and products,5521,Feed,1000 tonnes,14.06,108.28,...,350.0,150.0,325.0,300.0,200.0,750.0,850.0,1100.0,1100,800
21009,VNM,237,Viet Nam,2511,Wheat and products,5142,Food,1000 tonnes,14.06,108.28,...,596.0,776.0,846.0,877.0,945.0,810.0,945.0,985.0,1015,962
21117,YEM,249,Yemen,2511,Wheat and products,5142,Food,1000 tonnes,15.55,48.52,...,2091.0,2087.0,2169.0,2262.0,2318.0,2464.0,2580.0,2756.0,2604,2691
21236,ZMB,251,Zambia,2511,Wheat and products,5142,Food,1000 tonnes,-13.13,27.85,...,163.0,154.0,168.0,164.0,156.0,157.0,106.0,150.0,175,176
21356,ZWE,181,Zimbabwe,2511,Wheat and products,5142,Food,1000 tonnes,-19.02,29.15,...,248.0,263.0,329.0,364.0,371.0,411.0,380.0,395.0,433,443