In [2]:
import pandas as pd

fname = 'FAO.csv'
df = pd.read_csv(f'./dataset/{fname}', encoding='latin-1')

In [12]:
df.columns

Index(['Area Abbreviation', 'Area Code', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'latitude', 'longitude', 'Y1961',
       'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969',
       'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977',
       'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985',
       'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993',
       'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001',
       'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009',
       'Y2010', 'Y2011', 'Y2012', 'Y2013'],
      dtype='object')

In [14]:
df

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21472,ZWE,181,Zimbabwe,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,...,373.0,357.0,359.0,356.0,341.0,385.0,418.0,457.0,426,451
21473,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5521,Feed,1000 tonnes,-19.02,29.15,...,5.0,4.0,9.0,6.0,9.0,5.0,15.0,15.0,15,15
21474,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5142,Food,1000 tonnes,-19.02,29.15,...,18.0,14.0,17.0,14.0,15.0,18.0,29.0,40.0,40,40
21475,ZWE,181,Zimbabwe,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
21476,ZWE,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [20]:
df[df['Area'] == 'Ireland']

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
9533,IRL,104,Ireland,2511,Wheat and products,5521,Feed,1000 tonnes,53.41,-8.24,...,968.0,976.0,902.0,685.0,1063.0,804.0,783.0,760.0,650,600
9534,IRL,104,Ireland,2511,Wheat and products,5142,Food,1000 tonnes,53.41,-8.24,...,395.0,423.0,501.0,449.0,470.0,493.0,512.0,502.0,494,500
9535,IRL,104,Ireland,2805,Rice (Milled Equivalent),5521,Feed,1000 tonnes,53.41,-8.24,...,3.0,3.0,3.0,4.0,5.0,4.0,4.0,4.0,4,4
9536,IRL,104,Ireland,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,53.41,-8.24,...,11.0,6.0,6.0,9.0,14.0,15.0,16.0,14.0,14,14
9537,IRL,104,Ireland,2513,Barley and products,5521,Feed,1000 tonnes,53.41,-8.24,...,993.0,908.0,1047.0,904.0,1242.0,1290.0,1283.0,1182.0,1146,1380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9664,IRL,104,Ireland,2948,Milk - Excluding Butter,5521,Feed,1000 tonnes,53.41,-8.24,...,822.0,1009.0,788.0,578.0,488.0,387.0,329.0,243.0,450,666
9665,IRL,104,Ireland,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,53.41,-8.24,...,1318.0,1205.0,1078.0,1246.0,1308.0,1169.0,1188.0,1332.0,1194,1350
9666,IRL,104,Ireland,2960,"Fish, Seafood",5521,Feed,1000 tonnes,53.41,-8.24,...,0.0,22.0,29.0,66.0,43.0,111.0,112.0,112.0,112,112
9667,IRL,104,Ireland,2960,"Fish, Seafood",5142,Food,1000 tonnes,53.41,-8.24,...,95.0,94.0,87.0,97.0,92.0,99.0,102.0,102.0,102,102
9668,IRL,104,Ireland,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,53.41,-8.24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0